---
import ListHeading from "./ListHeading.astro";
import BlogListItemMeta from "./BlogListItemMeta";

const { url, title, date, description, tags, readTime } = Astro.props;

const formattedDate = date
  ? new Date(date).toLocaleDateString("en-gb", {
      year: "numeric",
      month: "short",
      day: "numeric",
    })
  : null;

const isRecipe = tags && tags.includes("recipes");
---

{
  !isRecipe ? (
    <li>
      <BlogListItemMeta
        date={formattedDate}
        readTime={readTime}
        client:only="react"
      />
      {/* <div>
      {formattedDate ? (
        <time datetime={new Date(date).toISOString()}>{formattedDate}</time>
      ) : null}
      {readTime ? (
        <span>•</span>

        <time datetime={`PT${readTime}M`}>{readTime} min read</time>
      ) : null}
      </div> */}
      <ListHeading role="heading" aria-level="2" url={url} title={title} />
      <div>
        {description}{" "}
        <a href={url} aria-label={`Read more about ${title}`}>
          Read more
        </a>
      </div>
    </li>
  ) : null
}

<style>
  li {
    list-style: none;
    margin-bottom: 2rem;
    position: relative;
    border-bottom: 3px dashed var(--color-border);
    padding-bottom: var(--space-5);
  }

  li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  div:nth-child(3) {
    margin-bottom: var(--space-1);
    text-wrap: pretty;
  }

  div:nth-child(3) a {
    anchor-name: --read-more-anchor;
    font-weight: bold;
    white-space: nowrap;
    text-decoration: none;
    border-bottom: 2px solid var(--color-background);
    transition: border-color 0.1s ease-in-out;
  }

  div:nth-child(3) a:hover {
    border-color: var(--color-link-hover);
  }

  div:nth-child(3) a:after {
    content: "↦";
    position: absolute;
    position-anchor: --read-more-anchor;
    transform: translateX(0) translateY(2px);
    opacity: 0;
    transition:
      opacity 0.2s ease-in-out,
      transform 0.2s ease-in-out;
  }

  div:nth-child(3) a:hover:after {
    opacity: 1;
    transform: translateX(5px) translateY(2px);
  }

  div:nth-child(3) a:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: 5px;
    bottom: -5px;
    border-radius: 2px;
  }

  div:nth-child(3) a:focus {
    background: var(--color-link-hover);
    color: var(--color-secondary);
    outline: none;
  }

  div:nth-child(3) a:focus:before {
    border: 1px solid var(--color-link-hover);
    background-color: hsl(from var(--color-primary) h s l / 0.1);
    color: var(--color-background);
  }

  div:nth-child(3) a:focus:after {
    display: none;
  }
</style>
