---
import ListHeading from "./ListHeading.astro";
import BlogListItemMeta from "./BlogListItemMeta";

const { url, title, date, description, tags, readTime } = Astro.props;

const formattedDate = date
  ? new Date(date).toLocaleDateString("en-gb", {
      year: "numeric",
      month: "short",
      day: "numeric",
    })
  : null;

const isRecipe = tags && tags.includes("recipes");
---

{
  !isRecipe ? (
    <li class="blog-item">
      <BlogListItemMeta
        date={formattedDate}
        readTime={readTime}
        client:only="react"
      />
      {/* <div>
      {formattedDate ? (
        <time datetime={new Date(date).toISOString()}>{formattedDate}</time>
      ) : null}
      {readTime ? (
        <span>•</span>

        <time datetime={`PT${readTime}M`}>{readTime} min read</time>
      ) : null}
      </div> */}
      <ListHeading role="heading" aria-level="2" url={url} title={title} />
      <div class="blog-item__bd">
        {description}{" "}
        <a
          href={url}
          aria-label={`Read more about ${title}`}
          class="blog-item__readmore-link"
        >
          Read more
        </a>
      </div>
    </li>
  ) : null
}

<style>
  .blog-item {
    list-style: none;
    margin-bottom: var(--space-12);
    position: relative;
  }

  .blog-item:last-child {
    margin-bottom: 0;
  }

  .blog-item__bd {
    margin-bottom: var(--space-1);
    text-wrap: pretty;
  }

  .blog-item__readmore-link {
    anchor-name: --read-more-anchor;
    font-weight: bold;
    white-space: nowrap;
    text-decoration: none;
    border-bottom: 2px solid var(--color-background);
    transition: border-color 0.1s ease-in-out;
  }

  .blog-item__readmore-link:hover {
    border-color: var(--color-link-hover);
    color: oklab(from var(--color-onPrimary) calc(l - 0.1) a b);
  }
</style>
