---
import CloseButton from "../CloseButton.astro";

const { slug, date, title, companyName, description, sectors, tagsList } =
  Astro.props;

const tagsArray = tagsList.split(",");
---

<div class="card-content-wrapper">
  <div class="header" style={`view-transition-name:header-${slug}`}>
    <span>{date}</span>
    <div class="close-button"><CloseButton href="/#experience" /></div>
  </div>
  <div class="content">
    <div class="meta" style={`view-transition-name:meta_${slug}`}>
      <h3 class="experience-card-title">
        {title}
        <span class="company-name">{companyName}</span>
      </h3>
      <div class="description">
        {description}
      </div>
      <div class="company-sectors">{sectors}</div>
      <div class="tags">
        {tagsArray.map((tag: string) => <div class="tag">{tag}</div>)}
      </div>
    </div>
    <div
      class="responsibilities"
      style={`view-transition-name:responsibilities-${slug}`}
    >
      <slot />
    </div>
  </div>
</div>

<script>
  const backButton = document.querySelector(".details-btn");
  backButton?.addEventListener("click", (e) => {
    e.preventDefault();
    history.back();
  });
</script>

<style is:global>
  @scope (.card-content-wrapper) {
    --flex-direction: column;
    --padding: var(--space-6);
  }

  @media screen and (min-width: 1280px) {
    @scope (.card-content-wrapper) {
      --flex-direction: row;
      --padding: var(--space-12);
    }
  }

  .card-content-wrapper {
    position: relative;
    display: flex;
    gap: var(--space-8);
    flex-direction: column;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-variation-settings:
      "slnt" 0,
      "wght" 700;
  }

  .content {
    display: flex;
    flex-direction: var(--flex-direction);
    column-gap: var(--space-8);
  }

  .meta {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
  }

  .experience-card-title {
    font-size: clamp(
      var(--font-size-lg),
      calc(3vw + 1rem),
      var(--font-size-xl)
    );
    font-family: var(--body-font);
    font-variation-settings:
      "slnt" 0,
      "wght" 700;
    line-height: 1;
    color: var(--color-primary);
  }

  .company-name {
    color: var(--color-secondary);
  }

  .description {
    color: var(--color-primary);
    font-variation-settings:
      "slnt" 0,
      "wght" 700;
  }

  .tags {
    margin: var(--space-4) 0;
    display: flex;
    gap: var(--space-2);
    flex-wrap: wrap;
  }

  .tag {
    background-color: var(--color-secondary);
    color: var(--color-onPrimary);
    white-space: nowrap;
    padding: 0 8px;
    line-height: 1.4;
    border-radius: var(--border-radius-xs);
    font-variation-settings:
      "slnt" 0,
      "wght" 500;
  }

  .responsibilities {
    width: clamp(200px, 700px, 100%);
  }

  .responsibilities p {
    margin: 0 0 var(--space-4);
    text-wrap: pretty;
  }

  .responsibilities p:last-child {
    margin-bottom: 0;
  }

  .close-button {
    transform: translate(var(--padding), calc(var(--padding) * -1));
  }
</style>
