---
import { Image } from "astro:assets";
import swiftaidImage from "../../images/swiftaid.png";
import sppocImage from "../../images/sppoc.png";
import ioMusicImage from "../../images/iomusic.png";
import sfmImage from "../../images/sfm.png";
import ecommImage from "../../images/ecomm.png";
import webAppsImage from "../../images/webapps.png";
---

<>
  <div class="section-meta">
    <h2>Featured Work</h2>
    <p>A selection of latest or notable website and app work</p>
  </div>
  <div class="works">
    <a
      href="/work/swiftaid"
      class="work"
      style="--idx:0"
      data-entry-slug="swiftaid"
    >
      <Image
        src={swiftaidImage}
        width={600}
        height={600}
        alt="Swiftaid and JustGiving"
      />
    </a>
    <a href="/work/split-payment-poc" class="work">
      <Image
        src={sppocImage}
        width={600}
        height={600}
        alt="POC Admin Portal for HMRC"
      />
    </a>
    <a href="/work/io-music" class="work">
      <Image
        src={ioMusicImage}
        width={600}
        height={600}
        alt="io Music App for iOS and Android"
      />
    </a>
    <a href="/work/saudi-fashion-retail" class="work">
      <Image
        src={sfmImage}
        width={600}
        height={600}
        alt="Saudi Fashion Magazine Website"
      />
    </a>
    <a href="/work/ecomm-sites" class="work">
      <Image
        src={ecommImage}
        width={600}
        height={600}
        alt="Ecommerce websites and payment systems"
      />
    </a>
    <a href="/work/webapps" class="work">
      <Image
        src={webAppsImage}
        width={600}
        height={600}
        alt="Web applications"
      />
    </a>
  </div>
</>

<script>
  import { inView } from "motion";

  inView(".work", (element) => {
    element.setAttribute("inview", "");

    return () => {
      element.removeAttribute("inview");
    };
  });

  const buttons = document.querySelectorAll("button.work");
  buttons.forEach((button) => {
    button.addEventListener("click", async () => {
      console.log("hello", button);
    });
  });
</script>

<style>
  @scope (.works) {
    --grid-template-columns: 1fr;
  }

  @media screen and (min-width: 540px) {
    @scope (.works) {
      --grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (min-width: 770px) {
    @scope (.works) {
      --grid-template-columns: repeat(3, 1fr);
    }
  }

  .section-meta {
    text-align: center;
  }

  .section-meta h2 {
    font-size: clamp(
      var(--font-size-lg),
      calc(7vw + 1rem),
      var(--font-size-xl)
    );
    color: var(--color-secondary);
  }

  .works {
    margin-top: var(--space-8);
    display: grid;
    gap: var(--space-8);
    grid-template-columns: var(--grid-template-columns);
    place-items: center;
  }

  .work {
    border: none;
    padding: 0;
    cursor: pointer;
    width: clamp(240px, 100%, 600px);
    aspect-ratio: 1;
    border-radius: var(--border-radius-lg);
    scale: 0.8;
    box-shadow:
      0px 9px 21px rgba(0, 0, 0, 0.05),
      0px 38px 38px rgba(0, 0, 0, 0.045),
      0px 85px 51px rgba(0, 0, 0, 0.025);
    transition: 1s all var(--ease-out-elastic);
    overflow: hidden;
    position: relative;
  }

  .work::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-primary);
    transition: all 0.2s ease-in-out;
    mix-blend-mode: color;
  }

  .work[inview] {
    scale: 1;
  }

  .work:hover,
  .work:focus {
    scale: 1.02;
    mix-blend-mode: initial;
  }

  .work:hover::after,
  .work:focus::after {
    opacity: 0;
  }

  .work img {
    height: auto;
    object-fit: cover;
  }
</style>
