---
import WorkLayout from "../layouts/WorkLayout.astro";
import PageTitle from "../components/PageTitle.astro";
import Tags from "../components/Tags.tsx";
import Recommendation from "../components/Recommendation.tsx";
import RecommendedWork from "../components/RecommendedWork.tsx";

const { frontmatter } = Astro.props;
const { description } = frontmatter;
---

<WorkLayout pageTitle={frontmatter.title} pageDescription={description}>
  <div>
    <div class="back-link-container">
      <a href="/works">↤ Back to all works</a>
    </div>

    <PageTitle>{frontmatter.title}</PageTitle>

    <div class="sectors">
      <strong>Sectors:</strong>
      {frontmatter.sectors.join(" • ")}
    </div>

    <div class="type">
      <strong>Type:</strong>
      {frontmatter.type}
    </div>

    <div class="tags">
      <strong>Tech used:</strong>
      <div>
        <Tags
          tags={frontmatter.tags}
          color={frontmatter.backgroundColor}
          client:load
        />
      </div>
    </div>

    <slot />

    {
      frontmatter.recommendedWorks && (
        <div class="recommendations">
          <Recommendation
            image={frontmatter.recommendationImage?.src}
            text={frontmatter.recommendationText}
            footer={frontmatter.recommendationFooter}
            client:load
          />
        </div>
      )
    }
  </div>

  {
    frontmatter.recommendedWorks?.length && (
      <div class="recommended-works">
        <h2>Selected works</h2>
        <div>
          {frontmatter.recommendedWorks.map(
            (work: {
              image: { src: string };
              title: string;
              description: string;
              bgcolor: string;
              link: string;
            }) => (
              <RecommendedWork
                image={work.image?.src}
                title={work.title}
                description={work.description}
                bgcolor={work.bgcolor}
                link={work.link}
                client:load
              />
            )
          )}
        </div>
      </div>
    )
  }
</WorkLayout>

<style>
  .back-link-container {
    margin-bottom: var(--space-6);
  }

  .back-link-container a {
    opacity: 0.7;
  }

  .back-link-container a:hover {
    opacity: 1;
  }

  .sectors,
  .type {
    margin-bottom: var(--space-1);
  }

  .tags {
    display: flex;
    align-items: start;
    margin-bottom: var(--space-12);
  }

  .tags strong {
    white-space: nowrap;
  }

  .tags div {
    margin-left: var(--space-2);
    margin-top: var(--space-1);
  }

  .recommendations {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .recommended-works h2 {
    margin-bottom: var(--space-2);
  }

  .recommended-works > div {
    display: flex;
    gap: var(--space-4);
    flex-direction: row;
  }
</style>
