---
import PostLayout from "../layouts/PostLayout.astro";
import StatusPanel from "../components/StatusPanel.astro";

const { frontmatter } = Astro.props;
const { wip } = frontmatter;
---

<PostLayout pageTitle={frontmatter.title} sidebar={true}>
  {
    frontmatter.image ? (
      <img
        src={frontmatter.image.url}
        srcset={`${frontmatter.image.url} 1x, ${frontmatter.image.url2x} 2x, ${frontmatter.image.url3x} 3x`}
        alt={frontmatter.image.alt}
        class="w-full rounded-lg shadow-md mb-4"
      />
    ) : null
  }

  <h1 class="text-brand-600 dark:text-brand-200 pt-6 text-4xl leading-tight font-bold">
    {frontmatter.title}
  </h1>

  {wip && <StatusPanel>Work in progress...</StatusPanel>}

  <slot />
</PostLayout>

<script>
  const codeFigures = document.querySelectorAll(
    "figure[data-rehype-pretty-code-figure]"
  );

  codeFigures.forEach((figure) => {
    const pre = figure.querySelector("pre");
    if (pre) {
      const lang = pre.dataset.language;

      if (!lang) return;

      const div = document.createElement("div");
      div.textContent = lang ?? "";
      div.classList.add("language-tag");
      div.classList.add(lang.toLowerCase().replace(" ", "-"));
      figure.prepend(div);
    }
  });
</script>
