---
import WorkLayout from "../layouts/WorkLayout.astro";
import PageTitle from "../components/PageTitle.astro";
import Tags from "../components/Tags.tsx";
import Recommendation from "../components/Recommendation.tsx";
import RecommendedWork from "../components/RecommendedWork.tsx";

const { frontmatter } = Astro.props;
const { description } = frontmatter;
---

<WorkLayout pageTitle={frontmatter.title} pageDescription={description}>
  <div class="work-content-wrapper">
    <div class="meta-wrapper">
      <div class="meta-content">
        <PageTitle>{frontmatter.title}</PageTitle>

        <div class="sectors">
          <strong>Sectors:</strong>
          {frontmatter.sectors.join(" • ")}
        </div>

        <div class="type">
          <strong>Type:</strong>
          {frontmatter.type}
        </div>

        <div class="tags">
          <strong>Tech used:</strong>
          <div>
            <Tags tags={frontmatter.tags} client:only="react" />
          </div>
        </div>
      </div>
    </div>

    <div class="text">
      <slot />

      {
        frontmatter.recommendedWorks && (
          <div class="recommendations">
            <Recommendation
              image={frontmatter.recommendationImage?.src}
              text={frontmatter.recommendationText}
              footer={frontmatter.recommendationFooter}
              client:load
            />
          </div>
        )
      }

      {
        frontmatter.recommendedWorks?.length && (
          <div class="recommended-works">
            <h2>Other work</h2>
            <div>
              {frontmatter.recommendedWorks.map(
                (work: {
                  image: { src: string };
                  title: string;
                  description: string;
                  bgcolor: string;
                  link: string;
                }) => (
                  <RecommendedWork
                    image={work.image?.src}
                    title={work.title}
                    description={work.description}
                    bgcolor={work.bgcolor}
                    link={work.link}
                    client:load
                  />
                )
              )}
            </div>
          </div>
        )
      }
    </div>
  </div>
</WorkLayout>

<style>
  @scope (.work-content-wrapper) {
    --flex-direction: column;
    --gap: var(--space-6);
    --meta-content-position: relative;
    --meta-content-top: 0;
    --strong-display: inline;
    --meta-content-gap: var(--space-2);
  }

  @media screen and (min-width: 1000px) {
    @scope (.work-content-wrapper) {
      --flex-direction: row;
      --gap: var(--space-12);
      --meta-content-position: sticky;
      --meta-content-top: calc(var(--controls-height) + var(--content-padding));
      --strong-display: block;
      --meta-content-gap: var(--space-4);
    }
  }

  .work-content-wrapper {
    display: flex;
    flex-direction: var(--flex-direction);
    gap: var(--gap);
  }

  .meta-content {
    display: flex;
    flex-direction: column;
    gap: var(--meta-content-gap);
    position: var(--meta-content-position);
    top: var(--meta-content-top);
    left: 0;
    transition: all 1s var(--ease-out-elastic);
  }

  .sectors,
  .type {
    margin-bottom: var(--space-1);
  }

  .tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: var(--space-12);
  }

  .sectors strong,
  .type strong,
  .tags strong {
    display: var(--strong-display);
  }

  .tags strong {
    white-space: nowrap;
    margin-right: var(--space-1);
  }

  .recommendations {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--space-12);
  }

  .recommended-works h2 {
    margin-bottom: var(--space-2);
    font-size: var(--font-size-xl);
    text-align: center;
    color: var(--color-primary);
  }

  .recommended-works > div {
    display: flex;
    gap: var(--space-4);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
