---
import BaseLayout from "../layouts/BaseLayout.astro";
import StatusPanel from "../components/StatusPanel.astro";

const { frontmatter } = Astro.props;
const { wip } = frontmatter;
---

<BaseLayout pageTitle={frontmatter.title} sidebar={true}>
  {
    frontmatter.image ? (
      <img
        src={frontmatter.image.url}
        srcset={`${frontmatter.image.url} 1x, ${frontmatter.image.url2x} 2x, ${frontmatter.image.url3x} 3x`}
        alt={frontmatter.image.alt}
        class="w-full rounded-lg shadow-md mb-4"
      />
    ) : null
  }

  <h1 class="text-brand-500 pt-6 text-2xl font-bold">
    {frontmatter.title}
  </h1>

  {wip && <StatusPanel>Work in progress...</StatusPanel>}

  <slot />
</BaseLayout>
