---
import MainNav from "../components/MainNav.astro";
import Button from "../components/CtaLink.astro";
import "../styles/styles.css";
import "lenis/dist/lenis.css";

const mainTitle = "Michael Watts, Web Development";
const { pageTitle, pageDescription, nextTitle, nextDescription, nextLink } =
  Astro.props;
---

<script>
  import { initGlobalLenis } from "../lib/initGlobalLenis";

  if (
    "IntersectionObserver" in window &&
    "IntersectionObserverEntry" in window &&
    "intersectionRatio" in window.IntersectionObserverEntry.prototype
  ) {
    let observer = new IntersectionObserver((entries) => {
      if (entries[0].boundingClientRect.y < 0) {
        document.body.classList.add("header-not-at-top");
      } else {
        document.body.classList.remove("header-not-at-top");
      }
    });
    const anchor = document.querySelector("#top-of-site-pixel-anchor");
    if (anchor) {
      observer.observe(anchor);
    }
  }

  initGlobalLenis();
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{mainTitle} | {pageTitle}</title>
    <meta name="description" content={pageDescription} />

    <!-- <link rel="stylesheet" href="https://use.typekit.net/eaq6veo.css" /> -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="work-layout">
      <MainNav />
      <div id="main" role="main" class="main container" data-lenis-prevent>
        <slot />
      </div>
      <footer class="footer container">
        <div class="content">
          <div class="body">
            <h2>
              Next...
              <span>{nextTitle}</span>
            </h2>
            <p>{nextDescription}</p>
          </div>

          <Button href={`/work/${nextLink}`} text="View" theme="dark" />
        </div>
      </footer>
    </div>
    <script async src="https://scripts.simpleanalyticscdn.com/latest.js"
    ></script>
  </body>
</html>
